body,html{
    padding: 0px;
    margin: 0px;
    text-align: center;
    background: #ceebfa;
    font-family: 'Arial';
    

}


.item {
    display: inline-block;
    box-sizing: border-box;
    width:32%;
    padding:10px;
}

.product {
    display: inline-block;
    max-width:200px;
    height: 260px;
    border-radius: 7px;
    box-sizing: border-box;
    padding: 20px;
    margin:10px;
    background-color: white;
    border:1px solid #499de9;
    position: relative;
}
.product:before{
    content: '';
    position: absolute;
    width:40px;
    height: 40px;
    background: #ceebfa;
    left:-21px;
    top:-20px;
    transform: rotate(45deg);
    border-right: 1px solid #499de9;
}

.product span{
    width: 100%;
    float: left;
    font-size: 1.5em;
    padding:20px 0px;
    padding-bottom: 140px;
    text-transform: uppercase
}
.product a{
    text-decoration: none;
    color: #499de9;
    text-transform: uppercase;
    padding:10px 20px;
    border-radius: 2px;
    border: 1px solid #499de9;
    -webkit-transition: color 0.2s ease-in-out, border 0.2s ease-in-out, background-color 0.2s ease-in-out;
    -o-transition:  color 0.2s ease-in-out, border 0.2s ease-in-out, background-color 0.2s ease-in-out ;
    transition:  color 0.2s ease-in-out, border 0.5s ease-in-out, background-color 0.2s ease-in-out ;

}
.item:last-child .product a{
    color: #14a80d;
    border :1px solid #14a80d;
}

.item .product a:hover{
    background-color: #fd5b13;
    color: white;
    border:1px solid #fd5b13;
}

@media screen and (max-width:768px){
    .item{
        width:49%;
    }
}
@media screen and (max-width:500px){
    .item{
        width:100%;
    }
}